.qviz{
    position: absolute;
    top:170px;
    right: 0px;

    .qviz-title{
        background-color: rgb(197, 194, 194);
        
    }
}

#question-form{
    position: absolute;
    left: 200px;
}